<!-- App favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">

<!-- Daterangepicker css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/daterangepicker/daterangepicker.css') }}">

<!-- Vector Map css -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}">

<!-- Theme Config Js -->
<script src="{{ url_for('static', filename='assets/js/hyper-config.js') }}"></script>

<!-- App css -->
<link href="{{ url_for('static', filename='assets/css/app-saas.min.css') }}" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />

<script src="https://kit.fontawesome.com/a7cdf4d206.js" crossorigin="anonymous"></script>

{#<link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">#}
<link href="{{ url_for('static', filename='assets/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css" />