<li class="side-nav-title">Custom</li>

<li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages"
       class="side-nav-link">
        <i class="uil-copy-alt"></i>
        <span> Pages </span>
        <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="sidebarPages">
        <ul class="side-nav-second-level">
            <li>
                <a href="pages-profile.html">Profile</a>
            </li>
            <li>
                <a href="pages-profile-2.html">Profile 2</a>
            </li>
            <li>
                <a href="pages-invoice.html">Invoice</a>
            </li>
            <li>
                <a href="pages-faq.html">FAQ</a>
            </li>
            <li>
                <a href="pages-pricing.html">Pricing</a>
            </li>
            <li>
                <a href="pages-maintenance.html">Maintenance</a>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false"
                   aria-controls="sidebarPagesAuth">
                    <span> Authentication </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesAuth">
                    <ul class="side-nav-third-level">
                        <li>
                            <a href="pages-login.html">Login</a>
                        </li>
                        <li>
                            <a href="pages-login-2.html">Login 2</a>
                        </li>
                        <li>
                            <a href="pages-register.html">Register</a>
                        </li>
                        <li>
                            <a href="pages-register-2.html">Register 2</a>
                        </li>
                        <li>
                            <a href="pages-logout.html">Logout</a>
                        </li>
                        <li>
                            <a href="pages-logout-2.html">Logout 2</a>
                        </li>
                        <li>
                            <a href="pages-recoverpw.html">Recover Password</a>
                        </li>
                        <li>
                            <a href="pages-recoverpw-2.html">Recover Password 2</a>
                        </li>
                        <li>
                            <a href="pages-lock-screen.html">Lock Screen</a>
                        </li>
                        <li>
                            <a href="pages-lock-screen-2.html">Lock Screen 2</a>
                        </li>
                        <li>
                            <a href="pages-confirm-mail.html">Confirm Mail</a>
                        </li>
                        <li>
                            <a href="pages-confirm-mail-2.html">Confirm Mail 2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesError" aria-expanded="false"
                   aria-controls="sidebarPagesError">
                    <span> Error </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesError">
                    <ul class="side-nav-third-level">
                        <li>
                            <a href="pages-404.html">Error 404</a>
                        </li>
                        <li>
                            <a href="pages-404-alt.html">Error 404-alt</a>
                        </li>
                        <li>
                            <a href="pages-500.html">Error 500</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="pages-starter.html">Starter Page</a>
            </li>
            <li>
                <a href="pages-preloader.html">With Preloader</a>
            </li>
            <li>
                <a href="pages-timeline.html">Timeline</a>
            </li>
        </ul>
    </div>
</li>

<li class="side-nav-item">
    <a href="landing.html" target="_blank" class="side-nav-link">
        <i class="uil-globe"></i>
        <span class="badge text-bg-secondary float-end">New</span>
        <span> Landing </span>
    </a>
</li>

<li class="side-nav-item">
    <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false" aria-controls="sidebarLayouts"
       class="side-nav-link">
        <i class="uil-window"></i>
        <span> Layouts </span>
        <span class="menu-arrow"></span>
    </a>
    <div class="collapse" id="sidebarLayouts">
        <ul class="side-nav-second-level">
            <li>
                <a href="layouts-horizontal.html" target="_blank">Horizontal</a>
            </li>
            <li>
                <a href="layouts-detached.html" target="_blank">Detached</a>
            </li>
            <li>
                <a href="layouts-full.html" target="_blank">Full View</a>
            </li>
            <li>
                <a href="layouts-fullscreen.html" target="_blank">Fullscreen View</a>
            </li>
            <li>
                <a href="layouts-hover.html" target="_blank">Hover Menu</a>
            </li>
            <li>
                <a href="layouts-compact.html" target="_blank">Compact</a>
            </li>
            <li>
                <a href="layouts-icon-view.html" target="_blank">Icon View</a>
            </li>
        </ul>
    </div>
</li>